.app-chat {
  font-family: 'Chelsea Market';
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.walkthrough {
  z-index: 3;
  width: 100%;
  margin: 30px 20px;
  background: #2c2d30;
  border-radius: 2rem;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 3px 3px 3px #202125, inset -3px -3px 3px #353535;
  -webkit-box-shadow: inset 3px 3px 3px #202125, inset -3px -3px 3px #353535;
  padding: 1rem;
  min-width: 442px;
}

@media screen and (max-width: 375px) {
  .walkthrough {
    min-width: 340px;
  }
}

.typing.is-right .dots {
  margin-left: auto;
}

.typing.is-left .dots {
  margin-right: auto;
}

.dots {
  grid-column-start: 2;
  display: flex;
  justify-content: space-between;
  background: rgba(88, 141, 82, 0.5);
  padding: 10px;
  border-radius: 50px;
  width: 70px;
}

.dots > div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #1ee9df;
  animation: loader 1.5s infinite;
}

/* no margin on the far right dot */
.dots > div:not(:last-child) {
  margin-right: 8px;
}

/* put a delay on each of the dots */
.dots > div:first-child {
  animation-delay: 0.1s;
}

.dots > div:nth-child(2) {
  animation-delay: 0.2s;
}

.dots > div:last-child {
  animation-delay: 0.3s;
}

@keyframes loader {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.6);
  }
}

.message,
.typing {
  display: grid;
  grid-template-columns: 55px auto 55px;
  width: 100%;
  margin-bottom: 10px;
}

.message:last-child {
  margin-bottom: 0;
}

.message:nth-child(even) > div:first-child {
  opacity: 0;
}

.message:nth-child(odd) > div:last-child {
  opacity: 0;
}

.avatar {
  font-size: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #fcd7de;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bolder;
  /* min-height: 60px; */
}

.message:nth-child(even) .text {
  justify-content: flex-end;
  background-color: #ae2e38;
  color: #ebf8ff;
}
